<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Expires" content="-1"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="No-Cache"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% capture nl %}
{% endcapture %}
{%- if page.layout == 'post' or page.layout == 'page' -%}
    {%- assign meta_type = 'article' -%}
{%- else -%}
    {%- assign meta_type = 'website' -%}
{%- endif -%}
{%- if page.layout == 'post' or page.layout == 'page' or page.layout == 'category' -%}
    {%- assign meta_title = page.title | append: ' — ' | append: site.title -%}
    {%- assign meta_author = page.author | default: site.author -%}
    {%- if page.layout == 'category' -%}
        {%- assign meta_description = page.title | prepend: "'" | append: "' 카테고리의 글 목록입니다." -%}
    {%- else -%}
        {%- if page.description -%}
            {%- assign meta_description = page.description -%}
        {%- else -%}
            {%- assign meta_description = page.excerpt | replace: nl, '' | strip_html | truncatewords: 75 | default: site.description -%}
        {%- endif -%}
    {%- endif -%}
    {%- assign meta_url = site.url | append: site.baseurl | append: page.url -%}
    {%- assign meta_image = page.thumbnail | default: site.image -%}
{%- else -%}
    {%- assign meta_title = site.title -%}
    {%- assign meta_author = site.author -%}
    {%- assign meta_description = site.description | strip_html -%}
    {%- assign meta_url = site.url -%}
    {%- assign meta_image = site.image -%}
{%- endif -%}
{%- unless meta_image contains '://' -%}
    {%- assign meta_image = meta_image | prepend: site.url -%}
{%- endunless -%}
<meta name="author" content="{{ meta_author }}"/>
<meta name="description" content="{{ meta_description }}"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:type" content="{{ meta_type }}"/>
<meta property="og:title" content="{{ meta_title }}"/>
<meta property="og:description" content="{{ meta_description }}"/>
<meta property="og:url" content="{{ meta_url }}"/>
<meta property="og:image" content="{{ meta_image }}"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{ meta_title }}"/>
<meta name="twitter:description" content="{{ meta_description }}"/>
<meta name="twitter:label1" content="Written by"/>
<meta name="twitter:data1" content="{{ meta_author }}"/>
<meta name="twitter:image:src" content="{{ meta_image }}"/>
<meta name="google-site-verification" content="pB9gMbFqQr6cX4PNdIvtd7lBjPAE_9AfZPKgbtATne4" />
<meta name="naver-site-verification" content="132200ae089eda3d6ab3ff8c3dfce620f6eeceb5" />
<title>{{ meta_title }}</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/rss.xml" />
<link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feed.xml" />
<link rel="alternate" type="application/sitemap+xml" href="{{ site.url }}/sitemap.xml" />
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:700">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800">
<link rel="stylesheet" type="text/css" href="{{ site.asset_url }}/css/app.css">
<link rel="stylesheet" type="text/css" href="{{ site.asset_url }}/css/syntax.css">