.wrap {
    position: relative;
    padding: 0 0 0 space(1);
    height: 100%;
    width: 100%;
}

.menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: space(1);
    transform: translateX(0) translateZ(0);
    transition: transform
                $default-duration
                $default-easing;
}

.body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    transform: translateX(0);
    transition: transform
                $side-open-duration
                $side-open-easing,
                opacity
                $default-duration
                $default-easing;
}

@include side-opened() {
    .menu {
        transform: translateX($side-width);
    }

    .body {
        transform: translateX($side-width);
        overflow-y: hidden;
        opacity: .7;
        user-select: none;

        &:before {
            z-index: 99;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

@include down($responsive-tablet) {
    .wrap {
        margin: space(.75) 0 0 0;
        padding: 0;
    }

    .menu {
        width: 100vw;
    }

    @include side-opened() {
        .menu {
            transform: translateX(0);
        }

        .body {
            transform: translateX(0);
        }
    }
}