.ftr {
    margin: 0 0 0 space(1);
    padding: space(.375) 0 space(.375) 0;
    background: #F9F9F9;
    color: #999;
    text-align: center;
    font-size: rem($footer-font-size);
}

@include down($responsive-tablet) {
    .ftr {
        margin: 0;
    }
}