.tint {
    &:before {
        z-index: 1;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $tint-background;
    }
    
    &-hoverable {
        @extend .tint;
        
        &:before {
            background: $tint-background;
            opacity: 1;
            transition: opacity
                        $tint-hover-duration
                        $tint-hover-easing;
        }
        
        &:hover:before {
            opacity: 0;
        }
    }
    
    &-ctn {
        z-index: 2;
        position: relative;
    }
}