---
layout: master
comments: true
---
<div class="article">
	<div class="article-hdr">
		<h1>{{ page.title }}</h1>
		<small>
			<span>
			    {% for category in page.category %}
			        <a class="link" href="{{ site.baseurl }}/{{ category | slugify }}" title="{{ category }}">{{ category }}</a>
                	{% unless forloop.last %} {% endunless %}
                {% endfor %}
            </span>
			<span>{{ page.date | date: "%B %-d %Y, %H:%M" }}</span>
		</small>
	</div>
	<div class="article-ctn">
        {{ content }}
        {% if page.previous or page.next %}
        	<div class="article-related">
			    <div class="article-prev {% unless page.previous %}article-prev-nil{% endunless %}">
				    {% if page.previous %}
				    		<h3>Previous Post</h3>
				    		<a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
				    {% endif %}
		    	</div>
		    	<div class="article-next {% unless page.next %}article-next-nil{% endunless %}">
				    {% if page.next %}
				    	<h3>Next Post</h3>
				    	<a href="{{ page.next.url }}">{{ page.next.title }}</a>
				    {% endif %}
		    	</div>
		    </div>
	    {% endif %}
        {% if page.comments %}
        <div id="disqus_thread"></div>
		<script>
		var disqus_config = function () {
		this.page.url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		(function() {
		var d = document, s = d.createElement('script');
		s.src = 'https://{{ site.disqus_username }}.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
	</div>
</div>